/*初始化*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
*::after, *::before{
	box-sizing: border-box;
}
.clearfix::after{
	content: '';
	display: block;
	clear: both;
}
a{
	text-decoration: none;
	color: inherit;
}
li{
	list-style: none;
}
body{
	background-color: #fcfcfd;
}
.icon{
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
/*顶部部分*/
header{
	width: 100%;
	background-color: #D43C33;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2.7vw;
	position: fixed;
	top: 0;
	left: 0;
}
header .topsvg{
	width: 37.9vw;
	height: 6.7vw;
	margin: 5.2vw 0;
}
header .download-a{
	display: block;
}
header .download{
	display: inline-block;
	font-size: 4vw;
	height: 8vw;
	line-height: 8vw;
	border: 0.27vw solid #E7948F;
	border-radius: 8vw;
	padding: 0 2.7vw;
	color: #fff;
	padding-bottom: 1vw;
}
/*导航栏部分*/
.navbar{
	height: 10.7vw;
	width: 100%;
	border-bottom: 0.27vw solid #F4F4F4;
	background: #fff;
	position: fixed;
    top: 17.07vw;
    left: 0;
}
.navbar .navbar-container{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.navbar .navbar-container li{
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 100%;
	transition: all .3s linear;
}
.navbar .navbar-container li .navbar-text-container{
	display: inline-block;
	height: 100%;
	position: relative;
}
.navbar .navbar-container li .navbar-text{
	display: inline-block;
	height: 10.7vw;
	font-size: 4vw;
	line-height: 10.7vw;
	padding: 0 1.33vw;
}
.navbar .navbar-container li.active .navbar-text-container::after{
	content: '';
	display: block;
	width: 100%;
	height: 0.53vw;
	background: #d33a31;
	position: absolute;
	bottom: 0;
	left: 0;
}
.navbar .navbar-container li.active .navbar-text{
	color: #d33a31
}
/*tab切换*/
.tab-content>li.tabActive{
	display: block;
}
.tab-content>li{
	display: none;
}
/*推荐音乐部分*/
main{
	padding-top: 27.3vw;
}
main .main-title{
	font-size: 4.53vw;
	font-weight: 400;
	margin-bottom: 3.73vw;
	line-height: 5.33vw;
	padding-left: 2.4vw;
	border-left: 0.53vw solid #d33a31;
	margin-top: 5vw;
}
main .recommend{
	margin-bottom: 6.4vw;
}
#recommendLoading{
	text-align: center;
}
main .recommend ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
main .recommend li{
	display: block;
	width: 32.768vw;
	padding-bottom: 4.267vw;
}
main .recommend li>a{
	display: block;
}
main .recommend li img{
	width: 32.768vw;
	vertical-align: top;
}
main .recommend li span{
	display: block;
	width: 32.768vw;
	font-size: 3.467vw;
	line-height: 1.2;
	overflow: hidden;
	text-overflow: ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient: vertical;
	padding: 1.6vw 0.533vw 0 1.6vw;
}
main .newest>p {
	text-align: center;
}
main .newest a{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	color: #333;
}
main .newest .newest-row{
	padding: 1.6vw 0;
	margin-left: 2.667vw;
	border-bottom: 0.27vw solid #F0F0F0;
}
main .newest .newest-row .newest-row2{
	display: flex;
	align-items: center;
}
main .newest .newest-row .newest-row1{
	font-size: 4.53vw;
	line-height: 1.5;
}
main .newest .newest-row .newest-row2{
	font-size: 3.2vw;
	color: #888;
}
main .newest .newest-row .newest-row-1 .sq{
	display: inline-block;
	width: 3.5vw;
	height: 2.5vw;
	background: url(../images/home-page-imgs/index_icon_2x.png) no-repeat;
	background-size: 44.267vw 25.867vw;
	margin-right: 1.07vw;
}
main .newest .newest-row .newest-row-1 .sq.false{
	display: none;
}
main .newest .newest-row .newest-row-2{
	width: 5.9vw;
	height: 5.9vw;
	margin-right: 2.67vw;
	background: url(../images/home-page-imgs/index_icon_2x.png) no-repeat;
	background-size: 44.267vw 25.867vw;
	background-position: -6.4vw 0vw;
}
footer{
	background: url(../images/home-page-imgs/recommand_bg_2x.png) no-repeat;
}
footer .logo {
	text-align: center;
	padding-top: 16.9%;
}
footer .logo .logosvg{
	width: 61.33vw;
	height: 11.73vw;
}
footer .openapp-a{
	display: block;
}
footer .openapp{
	font-size: 4.26vw;
	line-height: 10.13vw;
	border: 0.27vw solid #d33a31;
	border-radius: 10.13vw;
	text-align: center;
	color: #d33a31;
	margin: 4vw 9.87vw 1.33vw;
}
footer .copyright{
	font-size: 3.2vw;
	line-height: 4.27vw;
	transform: scale(.75);
	text-align: center;
	padding-bottom: 5.33vw;
}
/*热歌榜部分*/
main .hotmusic{
	height: 38.9vw;
	background: url(../images/home-page-imgs/hot_music_bg_2x.jpg) no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	padding-left: 5.33vw;
	position: relative;
	z-index: -2;
}
main .hotmusic::after{
	content: "";
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background: inherit;
    filter: blur(1vw);
    z-index: -1;
    background: rgba(0,0,0,.3);
}
main .hotmusic .hotmusic-inner{
	width: 37.67vw;
	height: 17.87vw;
	background: url(../images/home-page-imgs/index_icon_2x.png);
	background-position: -6.4vw -8vw;
	background-size: 44.27vw 25.87vw;
}
main .hotcontent a{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	color: #333;
}
main .hotcontent .hot-row{
	padding: 1.6vw 0;
	margin-left: 2.667vw;
	border-bottom: 0.27vw solid #F0F0F0;
}
main .hotcontent .hot-row .hot-left{
	display: flex;
	align-items: center;
}
main .hotcontent .hot-row .hot-ranking{
	display: block;
	color: #999;
	font-size: 4.53vw;
	width: 7.47vw;
}
main .hotcontent .hot-row:nth-child(-n+3) .hot-ranking{
	color: #df3436;
}
main .hotcontent .hot-row .hot-row2{
	display: flex;
	align-items: center;
}
main .hotcontent .hot-row .hot-row1{
	font-size: 4.53vw;
	line-height: 1.5;
}
main .hotcontent .hot-row .hot-row2{
	font-size: 3.2vw;
	color: #888;
}
main .hotcontent .hot-row .hot-row-1 .sq{
	display: inline-block;
	width: 3.5vw;
	height: 2.5vw;
	background: url(../images/home-page-imgs/index_icon_2x.png) no-repeat;
	background-size: 44.267vw 25.867vw;
	margin-right: 1.07vw;
}
main .hotcontent .hot-row .hot-row-1 .sq.false{
	display: none;
}
main .hotcontent .hot-row .hot-row-2{
	width: 5.9vw;
	height: 5.9vw;
	margin-right: 2.67vw;
	background: url(../images/home-page-imgs/index_icon_2x.png) no-repeat;
	background-size: 44.267vw 25.867vw;
	background-position: -6.4vw 0vw;
}
main .hotdown-a{
	display: block;
}
main .hotdown{
	height: 14.67vw;
	line-height: 14.67vw;
	text-align: center;
	color: #999;
}
/*搜索页面*/
main .home-search{
	padding: 4vw 2.67vw;
	border-bottom: 0.27vw solid #eee;
}
main .search{
	height: 8vw;
	background: #ebecec;
	border-radius: 8vw;
	position: relative;
}
main .search .input{
	width: 100%;
	height: 8vw;
	line-height: 4.8vw;
	font-size: 3.73vw;
	color: #c9c9c9;
	border: 0;
	outline: none;
	background: transparent;
	padding: 0 8vw;
}
main .home-search .search .icon.left{
	position: absolute;
	top: 50%;
	left: 2.13vw;
	transform: translateY(-50%);
	fill: #BDBDBD;
}
main .home-search .search .icon-row{
	width: 8vw;
	height: 8vw;
	position: absolute;
	top: 50%;
	right: 2.13vw;
	transform: translateY(-50%);
}
main .home-search .search .icon.right{
	position: absolute;
	top: 50%;
	right: 2.13vw;
	transform: translateY(-50%);
	fill: #BDBDBD;
	display: none;
}
main .search-content{
	height: 12vw;
	margin-left: 2.67vw;
}
main .search-content .icon.scr{
	height: 5vw;
	width: 5vw;
	fill: #BDBDBD;
	margin-right: 1.87vw;
}
main .search-content .search-content-row{
	display: block;
	width: 100%;
	height: 100%;
	border-top: 0.27vw solid #eee;
	border-bottom: 0.27vw solid #eee;
}
main .search-content .search-content-row .wu{
	display: block;
	height: 12vw;
	line-height: 12vw;
}
main .search-content .search-content-row>a{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
}

	